<aside
    id="aside"
    class="fixed hidden top-0 right-0 h-screen lg:w-1/2 w-full bg-gradient-to-l from-mx-blue to-transparent z-50 md:bg-opacity-90 bg-opacity-100 drop-shadow-xl"
>
    <div
        class="w-full flex justify-center items-end flex-col h-full p-16 gap-6 *:text-mx-light relative"
    >
        <a href="#tech" class="closeAside">Technologies I Use</a>
        <a href="#projects" class="closeAside">Latest Projects</a>
        <a href="#experience" class="closeAside">Experience</a>
    </div>
    <button class="btn absolute top-4 right-4 dark:bg-mx-purple closeAside hover:dark:bg-mx-lila">
        <i class="ri-close-large-line"></i>
    </button>
</aside>