---
// import astroLogo from '../assets/astro.svg';
// import background from '../assets/background.svg';
---

<div class="bg-slate-400 h-screen *:text-4xl">
	<h1 class="font-thin">This is thin (100)</h1>
	<h1 class="font-extralight">This is extralight (200)</h1>
	<h1 class="font-light">This is light (300)</h1>
	<h1 class="font-normal">This is regular (400)</h1>
	<h1 class="font-medium">This is medium (500)</h1>
	<h1 class="font-semibold">This is semibold (600)</h1>
	<h1 class="font-bold">This is bold (700)</h1>
	<h1 class="font-extrabold">This is extrabold (800)</h1>
	<h1 class="font-black">This is black (900)</h1>
</div>
