@font-face {
    font-family: 'Malinton';
    src: url('/fonts/Malinton-Thin.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Malinton';
    src: url('/fonts/Malinton-ExtLt.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Malinton';
    src: url('/fonts/Malinton-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Malinton';
    src: url('/fonts/Malinton-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Malinton';
    src: url('/fonts/Malinton-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Malinton';
    src: url('/fonts/Malinton-SemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Malinton';
    src: url('/fonts/Malinton-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Malinton';
    src: url('/fonts/Malinton-ExtBd.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Malinton';
    src: url('/fonts/Malinton-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }