---
import type { ICaseStudy } from '../../core/interfaces/case-study.interface';
import { sanityImageUrl } from '../../core/utils/sanity-image';
import Container from '../molecule/Container.astro';
interface Props {
    caseStudies: ICaseStudy[];
}
const { caseStudies }: Props = Astro.props;
---

<Container title="Latest Projects" className="pt-32">
    <div class="grid grid-cols-2 gap-4 relative">
        {
            caseStudies.map((cs) => (
                <div class="flex flex-col bg-white rounded-md min-h-56 items-end justify-end px-4 py-2 group">
                    <img src={sanityImageUrl(cs.image.asset._ref, 400)} alt={cs.title} class="pb-8 mr-auto grayscale opacity-40 group-hover:opacity-100">
                    <p class="dark:text-mx-blue pb-2 font-thin text-2xl">{cs.title}</p>
                    <div class="flex gap-2 p-2 flex-wrap">
                        {cs.technologies.map((t) => (
                            <p class="dark:text-mx-blue text-xs bg-mx-lila rounded-xl px-3 py-1 text-white">{t.technology}</p>
                        ))}
                    </div>
                </div>
            ))
        }
    </div>
</Container>

<style>
    .relative::before {
        content: '';
        width: 32rem;
        height: 32rem;
        background-image: url('/public/images/x-symbol-2xl.svg');
        background-size: cover;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
    }
</style>
