---
import Button from '../atoms/Button.astro';
import Container from '../molecule/Container.astro';
const email = import.meta.env.EMAIL;
const phone = import.meta.env.PHONE;
---

<Container className="md:pb-16 md:pt-40 pb-8 pt-8">
    <div
        class="bg-white dark:bg-mx-blue py-16 rounded-md md:w-2/3 w-full md:px-0 px-8 mx-auto drop-shadow-sm"
    >
        <h6 class="text-center font-bold leading-normal lg:px-24 md:px-16 px-8">
            Have an exciting project where you need help?
        </h6>
        <div
            class="absolute -bottom-6 left-0 flex justify-center items-center mx-auto w-full"
        >
            <Button id="openDialog">Get In Touch</Button>
        </div>
    </div>
</Container>

<div
    id="dialog"
    class="fixed bg-mx-dark bg-opacity-50 hidden justify-center items-center w-screen h-screen top-0 left-0 z-40"
>
    <div class="bg-white rounded-lg p-6 lg:w-1/3 w-full flex flex-col justify-center m-8 md:m-0">
        <h5 class="font-semibold mb-4 text-center dark:text-mx-dark">Let's get in touch!</h5>
        <div
            class="grid grid-cols-3 items-center *:place-self-center pb-8 pt-2 w-1/2 mx-auto *:text-mx-blue"
        >
            <a
                href={`https://wa.me/${phone}`}
                class="p-4 rounded-full hover:bg-mx-lila"
                target="_blank"
                rel="noopener noreferrer"
            >
                <i class="ri-whatsapp-line ri-2x hover:scale-110"></i>
            </a>
            <a
                href={`mailto:${email}`}
                class="p-4 rounded-full hover:bg-mx-lila"
                target="_blank"
                rel="noopener noreferrer"
            >
                <i class="ri-mail-ai-line ri-2x hover:scale-110"></i>
            </a>
            <a href={`tel:${phone}`} class="p-4 rounded-full hover:bg-mx-lila">
                <i class="ri-phone-line ri-2x hover:scale-110"></i>
            </a>
        </div>
        <Button id="closeDialog" className="mx-auto">Close</Button>
    </div>
</div>

<style>
    .relative::before {
        content: '';
        width: 1.5rem;
        height: 1.5rem;
        background-image: url('/public/images/brand-x-blue.svg');
        background-size: cover;
        position: absolute;
        top: -0.2rem;
        left: 50%;
        transform: translateX(-50%);
        rotate: 45deg;
    }
</style>
<script>
    // JavaScript to handle dialog open and close
    const openDialogButton = document.getElementById('openDialog');
    const dialog = document.getElementById('dialog');
    const closeDialogButton = document.getElementById('closeDialog');

    openDialogButton?.addEventListener('click', () => {
        dialog?.classList.replace('hidden', 'flex');
        document.body.classList.add('overflow-hidden');
    });

    closeDialogButton?.addEventListener('click', () => {
        dialog?.classList.replace('flex', 'hidden');
        document.body.classList.remove('overflow-hidden');
    });
</script>
