---
import Container from '../molecule/Container.astro';
---

<Container className="pb-40 pt-40">
    <div class="bg-white p-16 rounded-md">
        <h4 class="text-center font-bold">Have an exciting project where you need help?</h4>
    </div>
</Container>
