---
import Container from '../molecule/Container.astro';
import type { IExperience } from '../../core/interfaces/experience.interface';
import Button from '../atoms/Button.astro';
interface Props {
    experiences: IExperience[];
}

const { experiences }: Props = Astro.props;
---

<Container title="Experience">
    {
        experiences.map((e) => (
            <div class="grid grid-cols-4 items-center p-8 border border-mx-dark dark:border-mx-light rounded-md mb-4 hover:bg-white dark:hover:bg-mx-blue">
                <p>{e.fromYear}</p>
                <p>{e.position}</p>
                <p>{e.company}</p>
                <p>{e.location}</p>
            </div>
        ))
    }
    <Button>Know More</Button>
</Container>
