<footer class="flex-1 p-24 bg-mx-light dark:bg-mx-blue mt-24">
    <div class="mx-auto 2xl:container flex justify-between">
        <p>2025 | All rights reserved.</p>
        <div class="flex flex-col gap-8 justify-end *:flex *:gap-2">
            <a href="https://linkedin.com/in/maxfloresdev" target="_blank" class="hover:text-mx-purple">
                <i class="ri-linkedin-box-fill"></i>
                <p>LinkedIn</p>
            </a>
            <a href="https://github.com/mxflrs" target="_blank" class="hover:text-mx-purple">
                <i class="ri-github-fill"></i>
                <p>Github</p>
            </a>
            <a href="https://instagram.com/maxflorex" target="_blank" class="hover:text-mx-purple">
                <i class="ri-instagram-fill"></i>
                <p>Instagram</p>
            </a>
        </div>
    </div>
</footer>
