<section
    class="relative flex flex-col justify-center items-center w-full flex-1 min-h-[75vh] *:text-center"
>
    <div class="flex md:gap-12 gap-2 flex-wrap justify-center px-8">
        <h1 class="uppercase font-bold lg:text-9xl md:text-8xl text-7xl">
            Hi.
        </h1>
        <h1 class="uppercase font-bold lg:text-9xl md:text-8xl text-7xl">
            I'm Max.
        </h1>
    </div>
    <h1 class="uppercase font-bold lg:text-9xl md:text-8xl text-3xl bg-gradient-to-r from-mx-lila to-mx-purple dark:from-mx-blue dark:to-mx-purple bg-clip-text text-transparent">
        A Developer.
    </h1>
    <!-- <h1 class="uppercase font-bold lg:text-9xl md:text-8xl text-3xl hyphenate">
        I BUILD AND CREATE
    </h1> -->
    <div
        class="w-full h-full absolute top-0 left-0 flex justify-center items-center -z-10"
    >
        <img src="/images/x-symbol-xl.svg" alt="icon" id="bigIcon" />
    </div>
</section>

<section class="pb-16 pt-8">
    <p class="leading-8 text-center -mt-16 dark:text-mx-light">
        Full-stack developer with a designer’s eye. <br /> I build smooth interfaces,
        scalable systems,
        <br /> and seamless digital experiences.
    </p>
</section>

<section
    class="flex lg:w-2/3 mx-8 w-auto lg:mx-auto flex-col max-h-96 rounded-lg z-10 relative mb-24 group"
>
    <img
        src="/images/mx-at-codex.webp"
        alt=""
        class="w-16 mx-auto hover:scale-125"
    />
    <div class="absolute -bottom-3 left-0 flex justify-center w-full">
        <img
            src="/images/brand-x-blue.svg"
            alt=""
            class="group-hover:rotate-45"
        />
    </div>
</section>
