<nav class="px-4 pt-3 flex justify-between items-center">
    <img id="logo" src="/images/logo-blue.svg" alt="Logo" class="w-10" />
    <div class="flex gap-4 items-center">
        <button id="theme-switch" class="btn">
            <i class="ri-moon-line" />
        </button>

        <button class="btn">
            <i class="ri-menu-3-fill" />
        </button>
    </div>
</nav>

<script>
    const iconButton = document.getElementById('theme-switch');
    const logoImage = document.getElementById('logo') as HTMLImageElement;
    const icon = iconButton?.querySelector('i');
    const bigIcon = document.getElementById('bigIcon') as HTMLImageElement;

    function toggleTheme() {
        const body = document.body;

        if (body.classList.contains('light')) {
            body.classList.replace('light', 'dark');
            logoImage.src = '/images/logo-light.svg';
            bigIcon.src = '/public/images/x-symbol-xl.svg';
            icon?.classList.replace('ri-moon-line', 'ri-sun-line');
        } else {
            body.classList.replace('dark', 'light');
            logoImage.src = '/images/logo-blue.svg';
            bigIcon.src = '/public/images/x-symbol-xl-light.svg';
            icon?.classList.replace('ri-sun-line', 'ri-moon-line');
        }
    }

    iconButton?.addEventListener('click', toggleTheme);
</script>
