@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Malinton', system-ui, sans-serif;
  }
}

:root {
  --mx-dark: #1E2028;
  --mx-blue: #3D3E67;
  --mx-purple: #904C6F;
  --mx-pink: #FDBBFB;
  --mx-yellow: #F0C8A8;
  --mx-lila: #C1CCFA;
  --mx-sky: #D9EAFF;
  --mx-light: #FFF3E8;
}

html,
body {
  margin: 0;
  width: 100%;
  min-height: 100%;
}

/* Global background animation for both themes */
@keyframes moveGradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

/* Default light gradient */
body.light {
  background: rgb(217, 234, 255);
  background: linear-gradient(164deg,
      rgba(217, 234, 255, 1) 0%,
      rgba(255, 243, 232, 1) 60%,
      rgba(129, 73, 110, 0.5) 100%);
  background-size: 200% 200%;
  animation: moveGradient 5s ease infinite;
  color: var(--mx-dark);
}

/* Dark gradient */
body.dark {
  background: rgb(30, 32, 40);
  background: linear-gradient(164deg,
      rgba(30, 32, 40, 1) 20%,
      rgba(61, 62, 103, 1) 60%,
      rgba(129, 73, 110, 1) 100%);
  background-size: 200% 200%;
  animation: moveGradient 5s ease infinite;
  color: var(--mx-light);
}

/* body.light,
body.dark {
  background-attachment: fixed;
} */

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2.5rem;
}

h5 {
  font-size: 2rem;
}

h6 {
  font-size: 1.5rem;
}

p,
a,
span {
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a {
  padding: 0;
  margin: 0;
  line-height: normal;
}

.btn {
  @apply px-3 py-1 bg-white hover:bg-mx-blue rounded hover:text-white dark:bg-mx-blue hover:dark:bg-mx-purple dark:text-mx-light;
}