---
import '../assets/styles/fonts.css';
import '../assets/styles/global.css';
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/minimal-icon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>Max - Flores</title>
    </head>
    <body class="light">
        <button class="theme-toggle-button">Toggle Theme</button>
        <h1 class="text-8xl text-mx-purple font-black dark:text-mx-lila">I AM THE BIGGEST</h1>
        <slot />
    </body>
</html>

<script>
    function toggleTheme() {
        const body = document.body;

        if (body.classList.contains('light')) {
            body.classList.remove('light');
            body.classList.add('dark');
        } else {
            body.classList.remove('dark');
            body.classList.add('light');
        }
    }

    document
        .querySelector('.theme-toggle-button')
        ?.addEventListener('click', toggleTheme);
</script>
